.game {
  width: 1000px;
  height: 802px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__cap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: none;
}

.game__cap_top {
  z-index: 100;
}