.burger-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-width: 720px;
  height: 100%;
  overflow: hidden;
  transition: all .5s;
  z-index: 10;
  left: 0;
  top: 0;
  padding-top: 6rem
}

.burger-menu_hidden {
  left: -720px;
}