*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  user-select: none;
}
button {
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.body {
  background: #fcfcfc;
  display: flex;
  justify-content: center;
}
.online-zoo {
  visibility: hidden;
  position: absolute;
  z-index: -3;
}
header {
  display: flex;
  justify-content: center;
}
.header-wrapper {
  width: 1800px;
  height: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-wrapper {
  background:  #fcfcfc;
  width: 1704px;
  height: 90px;
  border: 2px solid #f0f0f0;
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper a {
  font-style: normal;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}
.pseudo-hover {
  font-weight: 500;
}
.nav-wrapper__about{
  display: block;
  width: 54px;
}
.nav-wrapper__map {
  display: block;
  width: 35px;
}
.nav-wrapper__zoos {
  display: block;
  width: 41px;
}
.nav-wrapper__contacts {
  display: block;
  width: 92px;
}
.nav-wrapper__design{
  display: block;
  width: 58px;
}
.nav-wrapper a:hover {
  font-weight: 500;
}
.nav-wrapper img {
  width: 52px;
  margin-right: 92px;
}
.nav-wrapper nav {
  margin-left: 92px;
}
.nav-wrapper nav ul {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper_text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  cursor: pointer;
}
.logo {
  width: 90px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #fcfcfc;
}
.logo__icon {
  transition: all 0.3s;
}
.logo:hover .logo__icon {
  transform: scale(1.2);
}
.aside__nav {
  height: 670px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f0f0f0;
  border-top: 0;
  background:  #fcfcfc;
}
.aside__nav-button {
  width: 86px;
  height: 86px;
  border: 2px solid #fcfcfc;
  transition: all .2s;
}
.aside__nav-button:hover {
  border: 2px solid #609fff;
}
.aside__nav-button:active {
  border: 2px solid #080029;
}
.aside__nav-button_top {
  background: no-repeat center url(../../assets/icons/zoos-map-arrow-top.svg);
}
.aside__nav-button_bottom {
  background: no-repeat center url(../../assets/icons/zoos-map-arrow-bottom.svg);
}
.aside__animal-button {
  width: 55px;
  height: 55px;
  border: 2px solid #d9E8ff;
  box-sizing: border-box;
  border-radius: 30px;
  background: none;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__animal-button:hover {
  border-color: #609fff;
}
.aside__animal-button:active {
  border-color: #080029;
}
.background-map {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/zoos-map.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.hud-wrapper {
  width: 1800px;
}
.aside__animal-buttons {
  height: 436px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}