.category-page {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5vh;
  column-gap: 5%;
  justify-content: center;
  margin: 8rem auto 2rem;
}
.category-page_disable {
  pointer-events: none;
}
.category-page__button {
  width: 85%;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all .5s;
  opacity: 0;
}
.category-page__score {
  width: 85%;
  height: 3vh;
  overflow: hidden;
}
.star {
  height: 100%;
  width: auto;
}
.theme-play .category-page__button {
  opacity: 1;
}