.form-switch .form-check-input {
  width: 4em;
  height: 2rem;
}
.form-check {
  display: flex;
  align-items: center;
}
.form-check-label_1-5rem {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler{
    display: flex;
  }
}