.input {
  width: 100%;
  height: 20%;
}
.input__caption {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.38);
}
.input__field {
  border-style: none;
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 28px;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
}
.input__field_error {
background: yellow;
}
.input__field_correct {
  background: lightgreen;
}
.input__error {
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: black;
}