*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  user-select: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main {
  display: flex;
  flex-wrap: wrap;
  background: #fcfcfc;
}
header {
  background:  #fcfcfc;
  display: flex;
  justify-content: center;
}
.header-wrapper {
  width: 1800px;
  height: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-wrapper {
  width: 1704px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper a {
  font-style: normal;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}
.pseudo-hover {
  font-weight: 500;
}
.nav-wrapper__about{
  display: block;
  width: 54px;
}
.nav-wrapper__map {
  display: block;
  width: 35px;
}
.nav-wrapper__zoos {
  display: block;
  width: 41px;
}
.nav-wrapper__contacts {
  display: block;
  width: 92px;
}
.nav-wrapper__design{
  display: block;
  width: 58px;
}
.nav-wrapper a:hover {
  font-weight: 500;
}
.nav-wrapper img {
  width: 52px;
  margin-right: 92px;
}
.nav-wrapper nav {
  margin-left: 92px;
}
.nav-wrapper nav ul {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper_text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 90px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #fcfcfc;
}
.watch-online {
  background:  #fcfcfc;
  display: flex;
  justify-content: center;
  margin-left: calc( ( 100% - 1670px ) / 2 );;
}
.watch-online-wrapper {
  width: 1436px;
  height: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside {
  width: 90px;
  background:  #fcfcfc;
  position: sticky;
  left: calc( ( 100% - 1800px ) / 2 );
  top: 115px;
  transform: translateY(-94px);
}
.aside__nav {
  height: 760px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #f0f0f0;
  border-top: 0;
  background:  #fcfcfc;
}
.watch-online-wrapper-content {
  width: 700px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.watch-online-wrapper-content__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #626262;
}
.watch-online-wrapper-content__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  color: #080029;
}
.letter-wrapper {
  display: inline-flex;
  flex-direction: column;
}
.letter-wrapper__part {
  height: 0;
  font-family: Merriweather;
}
.letter-wrapper__part:first-child {
  position: relative;
  top: -56px;
  left: 3px;
  color: #d00000;
}
.watch-online-wrapper-content__buttons {
  display: flex;
  width: 605px;
  justify-content: space-between;
}
.watch-online-wrapper-content__buttons a:first-child button {
  width: 250px;
  height: 60px;
  background: #080029;
  border-radius: 5px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
}
.watch-online-wrapper-content__buttons a:last-child button {
  width: 260px;
  height: 60px;
  border: 2px solid #080029;
  box-sizing: border-box;
  border-radius: 5px;
  background:  #fcfcfc;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #080029;
}
.watch-online-wrapper picture img {
  width: 696px;
  align-self: flex-end;
  margin-bottom: 27px;
}
.aside-links {
  width: 24px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aside-up {
  width: 48px;
  height: 48px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  background:  #fcfcfc;
  border-radius: 50%;
}
.aside-add-block {
  width: 48px;
  height: 48px;
}
.how-it-works-wrapper {
  display: flex;
  justify-content: center;
  background:  #fcfcfc;
  width: 100%;
}
.how-it-works {
  width: 1800px;
  height: 980px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.try-now {
  width: 696px;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
.how-it-works__picture {
  margin-left: 20px;
}
.try-now__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}
.try-now__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
.try-now__h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
}
.try-now__button button {
  width: 218px;
  height: 61px;
  background: #0F0049;
  border-radius: 5px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}
.famous-pets-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9e8ff;
  width: 100%;
}
.slider {
  width: 1800px;
  height: 896px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__nav {
  width: 326px;
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.slider__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}
.slider__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
.slider__buttons {
  width: 150px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__button {
  width: 65px;
  height: 65px;
  border-style: none;
  border-radius: 50%;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__button_right {
  transform: rotate(180deg);
}
.slider__items { 
  width: 1064px;
  height: 696px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.item {
  width: 328px;
  height: 328px;
  position: relative;
  border-radius: 5px;
}
.item_overflow {
  overflow: hidden;
}
.item__background {
  transition: all 0.3s;
  width: 328px;
  height: 328px;
}
.item__background::after {
  content: "+";
  font-weight: 300;
  font-size: 44px;
  line-height: 145%;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.8;
  position: absolute;
  left: 151px;
  top: 168px;
}
.item__link {
  display: block;
  position: absolute;
  left: 50%;
  top: 292px;
  transform: translate(-50%,-50%);
}
.item__link::after {
  content: attr(data-name);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.8;
}
.item:hover .item__background {
  transform: scale(1.15);
  filter: blur(1px) brightness(0.85);
}
.item:hover .item__background::after {
  display: none;
}
.item:hover .item__link::after {
  content: "Follow →";
}
.item__circle {
  width: 76px;
  height: 76px;
  margin: auto;
  opacity: 0.6;
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  transition: all .3s;
}
.item:hover .item__circle {
  transform: translate(-50%,-58%);
  width: 238px;
  height: 238px;
  background: rgba(11, 11, 11, 0.1);
  border: 2px solid rgba(252, 252, 252, 0.3);
}
.item__background_item1 {
  background: url(../../assets/images/slider__item1.png);
}
.item__background_item2 {
  background: url(../../assets/images/slider__item2.png);
}
.item__background_item3 {
  background: url(../../assets/images/slider__item3.png);
}
.item__background_item4 {
  background: url(../../assets/images/slider__item4.png);
}
.item__background_item5 {
  background: url(../../assets/images/slider__item5.png);
}
.item__background_item6 {
  background: url(../../assets/images/slider__item6.png);
}
.item__location {
  opacity: 0;
  width: 190px;
  height: auto;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
  color: #fcfcfc;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%,50%) scale(5);
  transition: all .3s;
}
.item:hover .item__location {
  opacity: 1;
  top: 45%;
  transform: translate(-50%,-50%) scale(1);
}
.pay-and-feed-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  width: 100%;
}
.pay-and-feed {
  width: 1800px;
  height: 1300px;
  display: flex;
  flex-direction: column;
}
.pay-and-feed__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.pay-and-feed__img {
  width: 312px;
  height: 312px;
}
.pay-and-feed__img_security {
  background-image: url(../../assets/images/pay-and-feed__img_security.svg);

}
.pay-and-feed__img_delivery {
  background-image: url(../../assets/images/pay-and-feed__img_delivery.svg);
}
.pay-and-feed__img_animal {
  background-image: url(../../assets/images/pay-and-feed__img_animal.svg);
}
.pay-and-feed__content {
  width: 824px;
  height: 312px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.pay-and-feed__in-details {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pay-and-feed__content-wrapper_align-center {
  align-self: center;
  margin-top: 100px;
  position: relative;
  right: 120px;
}
.pay-and-feed__content_align-left {
  align-self: flex-start;
  margin-left: 224px;
}
.pay-and-feed__content_align-right {
  align-self: flex-end;
  margin: 60px 116px 47px 0;
}
.pay-and-feed__h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}
.pay-and-feed__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #0f0049;
  margin-bottom: 30px;
}
.pay-and-feed__h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
}
.pay-and-feed__in-details_margin-top-55px {
  margin-top: 55px;
}
.pay-and-feed__in-details_margin-top-104px {
  margin-top: 104px;
}
.pay-and-feed__in-details_margin-top-41px {
  margin-top: 41px;
}
.pay-and-feed__security-delivery-arrow {
  background-image: url(../../assets/images/pay-and-feed__arrow1.svg);
  width: 273px;
  height: 211px;
  position: absolute;
  left: 552px;
  top: 146px;
}
.pay-and-feed__delivery-security-arrow {
  background-image: url(../../assets/images/pay-and-feed__arrow2.svg);
  width: 343px;
  height: 197px;
  position: absolute;
  left: -368px;
  top: 162px;
}
.testimonials-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #080029;
  width: 100%;
}
.testimonials {
  width: 1800px;
  height: 616px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.testimonials__feedback {
  width: 513px;
  height: 412px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 40px;
}
.testimonials__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 60px;
}
.testimonials__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #fcfcfc;
  margin-bottom: 40px;
}
.testimonials__h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #fcfcfc;
  margin-bottom: 60px;
}
.testimonials__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  width: 286px;
  height: 61px;
}
.testimonials-slider {
  width: 1064px;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 60px;
}
.testimonials-slider__items {
  width: 1064px;
  height: 273px;
  display: flex;
  justify-content: space-between;
}
.testimonials-slider__item {
  width: 512px;
  height: 273px;
  background: #fcfcfc;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 40px;
}
.testimonials-slider__nav {
  width: 150px;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
.testimonials-slider__button {
  width: 65px;
  height: 65px;
  background: #fcfcfc;
  border-radius: 50%;
  border-style: none;
  background-image: url(../../assets/icons/testimonials-slider__button-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.testimonials-slider__button_right {
  transform: rotate(180deg);
}
.testimonials-slider__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #0b0b0b;
  margin-left: 20px;
}
.testimonials-slider__feedback {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #181818;
  margin-top: 30px;
}
.testimonials-slider__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}
.testimonials-slider__person {
  display: flex;
  align-items: center;
}
.testimonials-slider__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.testimonials-slider__avatar_avatar1 {
  background-image: url(../../assets/images/testimonials-slider__item1.png);
}
.testimonials-slider__avatar_avatar2 {
  background-image: url(../../assets/images/testimonials-slider__item2.png);
}
.zoogeography-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  width: 100%;
}
.zoogeography {
  width: 1800px;
  height: 862px;
  display: flex;
  justify-content: flex-end;
}
.zoogeography__animal-wrapper {
  width: 344px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 24px 0 0;
}
.zoogeography__animal {
  width: 344px;
  height: 512px;
  background: #fcfcfc;
  box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  overflow: hidden;
}
.zoogeography__map {
  width: 1223px;
  height: 700px;
  margin: 50px 85px 0 0;
  background: url(../../assets/images/zoogeography__map.svg);
  position: relative;
}
.zoogeography__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #000000;
}
.zoogeography__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
.zoogeography__h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
  color: #747474;
  margin-bottom: 32px;
}
.zoogeography__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3888FF;
}
.zoogeography__animal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 40px 40px;
  height: 298px;
}
.zoogeography__mark {
  position: absolute;
  transform: translate(-50%, -100%);
}
.zoogeography__mark:hover .zoogeography__svg-mark {
  width: 140px;
  height: 168px;
}
.zoogeography__mark:hover .zoogeography__svg-path {
  stroke-width: 2px;
}
.zoogeography__tranansition {
  transition: all .5s;
}
.zoogeography__mark_item1 {
  top: 317px;
  left: 176px;
}
.zoogeography__mark_item2 {
  top: 337px;
  left: 308px;
}
.zoogeography__mark_item3 {
  top: 461px;
  left: 625px;
}
.zoogeography__mark_item4 {
  top: 325px;
  left: 944px;
}
.zoogeography__mark-animal {
  height: 46px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.zoogeography__mark:hover .zoogeography__mark-animal {
  height: 53px;
  width: 57px;
}
.zoogeography__mark-animal_item1 {
  background-image: url(../../assets/icons/zoogeography__mark-item1.svg);
}
.zoogeography__mark-animal_item2 {
  background-image: url(../../assets/icons/zoogeography__mark-item2.svg);
}
.zoogeography__mark-animal_item3 {
  background-image: url(../../assets/icons/zoogeography__mark-item3.svg);
}
.zoogeography__mark-animal_item4 {
  background-image: url(../../assets/icons/zoogeography__mark-item4.svg);
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b0b0b;
}
.footer {
  width: 1800px;
  height: 766px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #bcbcbc;
}
.footer__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 10px;
}
.footer__h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #bcbcbc;
}
.footer__social-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #bcbcbc;
}
.footer__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
  width: 339px;
  height: 61px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
}
.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1432px;
  height: 132px;
  border-top: 1px solid #747474;
  margin-left: 5px;
}
.footer__nav {
  width: 200px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 50px;
}
.footer__donate {
  width: 339px;
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__content-wrapper {
  width: 1432px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 5px;
}
.footer__button-and-links {
  width: 339px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__social-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__symbol-x {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fcfcfc;
}
.footer__logos {
  width: 303px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__digital-and-school{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}