*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  background:  #fcfcfc;
  display: flex;
  justify-content: center;
}
.header-wrapper {
  width: 1800px;
  height: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-wrapper {
  width: 1704px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper a {
  font-style: normal;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}
.pseudo-hover {
  font-weight: 500;
}
.nav-wrapper__about{
  display: block;
  width: 54px;
}
.nav-wrapper__map {
  display: block;
  width: 35px;
}
.nav-wrapper__zoos {
  display: block;
  width: 41px;
}
.nav-wrapper__contacts {
  display: block;
  width: 92px;
}
.nav-wrapper__design{
  display: block;
  width: 58px;
}
.nav-wrapper a:hover {
  font-weight: 500;
}
.nav-wrapper img {
  width: 52px;
  margin-right: 92px;
}
.nav-wrapper nav {
  margin-left: 92px;
}
.nav-wrapper nav ul {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 90px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc((100% - 1800px) / 2);
  background:  #fcfcfc;
}
.watch-online {
  background:  #fcfcfc;
  display: flex;
  justify-content: center;
}
.watch-online-wrapper {
  width: 1436px;
  height: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside {
  width: 90px;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background:  #fcfcfc;
  position: fixed;
  left: calc((100% - 1800px) / 2);
  border: 2px solid #f0f0f0;
  border-top: 0;
}
.watch-online-wrapper-content {
  width: 700px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #626262;
}
.watch-online-wrapper-content h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  color: #080029;
}
.letter-wrapper {
  display: inline-flex;
  flex-direction: column;
}
.letter-wrapper__part {
  height: 0;
  font-family: Merriweather;
}
.letter-wrapper__part:first-child {
  position: relative;
  top: -56px;
  left: 3px;
  color: #d00000;
}
.watch-online-wrapper-content__buttons {
  display: flex;
  width: 605px;
  justify-content: space-between;
}
.watch-online-wrapper-content__buttons a:first-child button {
  width: 250px;
  height: 60px;
  background: #080029;
  border-radius: 5px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
}
.watch-online-wrapper-content__buttons a:last-child button {
  width: 260px;
  height: 60px;
  border: 2px solid #080029;
  box-sizing: border-box;
  border-radius: 5px;
  background:  #fcfcfc;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #080029;
}
.watch-online-wrapper picture img {
  width: 696px;
  align-self: flex-end;
  margin-bottom: 27px;
}
.aside-links {
  width: 24px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aside-up {
  width: 48px;
  height: 48px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  background:  #fcfcfc;
  border-radius: 50%;
}
.aside-add-block {
  width: 48px;
  height: 48px;
}
.how-it-works-wrapper {
  display: flex;
  justify-content: center;
  background:  #fcfcfc;
}
.how-it-works {
  width: 1920px;
  height: 980px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.try-now {
  width: 696px;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
.how-it-works__picture {
  margin-left: 20px;
}
.try-now__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}
.try-now__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
.try-now__h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
}
.try-now__button button {
  width: 218px;
  height: 61px;
  background: #0F0049;
  border-radius: 5px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}
.famous-pets-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9e8ff;
}
.slider {
  width: 1920px;
  height: 896px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__nav {
  width: 326px;
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.slider__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}
.slider__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}