.car{
  width: 120px;
  height: 60px;
  background-color: #000;
  -webkit-mask-image: url(../../assets/images/car.svg);
  mask-image: url(../../assets/images/car.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all ease-in 0s;
}