.button {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 10px;
  border-style: none;
  margin: 1px;
  background-color: rgb(230, 230, 250);
  cursor: pointer;
}
.button_disable {
  background-color: #ccc;
  color: white;
  pointer-events: none;
  cursor: auto;
}