@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  user-select: none; 
  outline: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}