*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  user-select: none;
}
button {
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main {
  display: flex;
  flex-wrap: wrap;
  background: #fcfcfc;
}
.online-zoo {
  visibility: hidden;
  position: absolute;
  z-index: -3;
}
header {
  background:  #fcfcfc;
  display: flex;
  justify-content: center;
}
.header-wrapper {
  width: 1800px;
  height: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-wrapper {
  width: 1704px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper a {
  font-style: normal;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}
.pseudo-hover {
  font-weight: 500;
}
.nav-wrapper__about{
  display: block;
  width: 54px;
}
.nav-wrapper__map {
  display: block;
  width: 35px;
}
.nav-wrapper__zoos {
  display: block;
  width: 41px;
}
.nav-wrapper__contacts {
  display: block;
  width: 110px;
}
.nav-wrapper__design{
  display: block;
  width: 58px;
}
.nav-wrapper a:hover {
  font-weight: 500;
}
.nav-wrapper img {
  width: 52px;
  margin-right: 92px;
}
.nav-wrapper nav {
  margin-left: 92px;
}
.nav-wrapper nav ul {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper_text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  cursor: pointer;
}
.logo {
  width: 90px;
  height: 90px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #fcfcfc;
}
.logo__icon {
  transition: all 0.3s;
}
.logo:hover .logo__icon {
  transform: scale(1.2);
}
.aside {
  background:  #fcfcfc;
  position: sticky;
  left: calc( ( 100% - 1800px ) / 2 );
  top: 115px;
  transform: translateY(-94px);
}
.aside__nav {
  height: 670px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #f0f0f0;
  border-top: 0;
  background:  #fcfcfc;
}
.aside__social-icon {
  transition: all .3s;
}
.aside__social-link:hover .aside__social-icon {
  transform: scale(1.2);
}
.aside-up {
  cursor: pointer;
  transition: all .3s;
}
.aside-up:hover {
  transform: scale(1.2);
}
.aside-up:active {
  transform: scale(0.95);
}
.aside-links {
  width: 24px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aside-up {
  width: 48px;
  height: 48px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  background:  #fcfcfc;
  border-radius: 50%;
}
.aside-add-block {
  width: 48px;
  height: 48px;
}
.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  width: 100%;
}
.slider {
  width: 1432px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.pay-and-feed-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  width: 100%;
}
.pay-and-feed {
  width: 1800px;
  height: 1300px;
  display: flex;
  flex-direction: column;
}
.pay-and-feed__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.pay-and-feed__img {
  width: 312px;
  height: 312px;
}
.pay-and-feed__img_security {
  background-image: url(../../../assets/images/pay-and-feed__img_security.svg);

}
.pay-and-feed__img_delivery {
  background-image: url(../../../assets/images/pay-and-feed__img_delivery.svg);
}
.pay-and-feed__img_animal {
  background-image: url(../../../assets/images/pay-and-feed__img_animal.svg);
}
.pay-and-feed__content {
  width: 824px;
  height: 312px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.pay-and-feed__in-details {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pay-and-feed__content-wrapper_align-center {
  align-self: center;
  margin-top: 100px;
  position: relative;
  right: 120px;
}
.pay-and-feed__content_align-left {
  align-self: flex-start;
  margin-left: 180px;
}
.pay-and-feed__content_align-right {
  align-self: flex-end;
  margin: 60px 60px 47px 0;
}
.pay-and-feed__h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}
.pay-and-feed__h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #0f0049;
  margin-bottom: 30px;
}
.pay-and-feed__h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
}
.pay-and-feed__in-details_margin-top-55px {
  margin-top: 55px;
}
.pay-and-feed__in-details_margin-top-104px {
  margin-top: 104px;
}
.pay-and-feed__in-details_margin-top-41px {
  margin-top: 41px;
}
.pay-and-feed__security-delivery-arrow {
  background-image: url(../../../assets/images/pay-and-feed__arrow1.svg);
  width: 273px;
  height: 211px;
  position: absolute;
  left: 478px;
  top: 146px;
}
.pay-and-feed__delivery-security-arrow {
  background-image: url(../../../assets/images/pay-and-feed__arrow2.svg);
  width: 343px;
  height: 197px;
  position: absolute;
  left: -368px;
  top: 148px;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b0b0b;
}
.footer {
  width: 1800px;
  height: 766px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #bcbcbc;
}
.footer__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 10px;
}
.footer__h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #bcbcbc;
}
.footer__social-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #bcbcbc;
}
.footer__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
  width: 339px;
  height: 61px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  transition: all .2s;
}
.footer__button:hover {
  background: #080029;
}
.footer__button:active {
  background: #150068;
}
.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1432px;
  height: 132px;
  border-top: 1px solid #747474;
  margin-left: 5px;
}
.footer__nav {
  width: 200px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 90px;
}
.footer__donate {
  width: 339px;
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__content-wrapper {
  width: 1432px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 5px;
}
.footer__button-and-links {
  width: 339px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__social-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__symbol-x {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fcfcfc;
}
.footer__logos {
  width: 303px;
  height: 371px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__digital-and-school{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}