.settings-menu {
  width: 256px;
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
}
.settings-menu__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}
.settings-menu__select {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  border-style: none;
  background: none;
  cursor: pointer;
}